<%include header-backend.ejs%>
	<%if(book){%>
			<div>
				<tr>
					<td>bookId</td>
					<td>bookName</td>
					<td>bookAuthor</td>
					<td>bookPublisher</td>
					<td>bookPublishDate</td>
					<td>bookAddDate</td>
					<td>bookDetail</td>
				</tr>
				<%book.forEach(function(item,index){%>
					<tr>
						<td><%=item.bookId%></td>
						<td><%=item.bookName%></td>
						<td><%=item.bookAuthor%></td>
						<td><%=item.bookPublisher%></td>
						<td><%=item.bookPublishDate%></td>
						<td><%=item.bookAddDate%></td>
						<td><%=item.bookDetail%></td>
					</tr>
				<%});%>
			</div>
	<%}%>
<%include footer-backend.ejs%>